.home-container {
  display: grid;
  /* grid-template-columns: repeat(2, 50%); */
  grid-template-areas: "content image";
  padding: 50px 100px;
}

.home-presentation-container {
  grid-area: content;
}

h1 {
  color: var(--almost-black-color);
  font-size: 3rem;
  font-weight: bold;
}

.btn-learn-more {
  color: var(--almost-white-color);
  background-color: var(--almost-black-color);
  outline: 2px solid transparent;
  margin: 15px 0px;
  transition: var(--transition-color), var(--transition-bg-color);
}

.btn-learn-more:hover {
  transition: var(--transition-color), var(--transition-bg-color);
  color: var(--almost-black-color);
  background-color: var(--almost-white-color);
  outline: 2px solid;
}

.sponsors-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsor {
  object-fit: contain;
}

.home-image {
  grid-area: image;
  background-image: url(./image-hero-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1040px) {

  .home-container {
    padding: 0px;
    grid-template-areas:
      "image"
      "content";
  }

  .home-image {
    background-image: url(./image-hero-mobile.png);
    height: 250px;
  }

  h1 {
    font-size: 2rem;
  }

  h1, p {
    text-align: center;
  }

  .btn-learn-more {
    display: block;
    margin: 15px auto;
  }

}